<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <% if ( success_msg.length ) { %>
      <div class="alert alert-success"><%= success_msg %></div>
      <% } %> <% if ( error_msg.length ) { %>
      <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <h3 class="text-center my-2 text-success">LOGIN</h3>
      <% if(errors && errors.length){ %>
        <% for(let i=0; i<errors.length; i++) {%>
          <p class="alert alert-danger"><%= errors[i] %></p>
       <% } %>
      <% } %>
      <form action="/auth/login" method="post" class="w-50 mx-auto my-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
