<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title"><%= post.title%></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= post.category.name%>
          </h6>
          <p class="card-text wrapped-space"><%= post.description%></p>
        </div>
        <% if(!post.pictures){ %>
          <h4 class="text-center my-2 text-secondary">No pictures available for this post</h4>
        <% } else{ %>  
          <div class="row justify-content-center flex-wrap py-2">
            <% for(var i=0; i<post.pictures.length; i++) {%>
              <div class="col-md-4 text-center">
                <p class="text-success my-2 text-center"><%= post.pictures[i].title %></p>
                <img src="/uploads/<%= post.pictures[i].name%>" alt="Image not available" class="post-image">
                <a href="/post/<%= post._id%>/images/<%= post.pictures[i]._id%>/delete" class="btn btn-danger mx-auto my-2">
                  Delete Image
                </a>
              </div>
            <% } %>
          </div>
       <% } %>
        
        <div class="card-footer">
          <a href="/post/<%= post._id%>/images" class="btn btn-secondary">
            Add Image
          </a>
          <a href="/post/<%= post._id%>/video" class="btn btn-info">
            Add Video
          </a>
          <a href="/post/<%= post._id%>/update" class="btn btn-success">
            Update
          </a>
          <a href="/post/<%= post._id%>/delete" class="btn btn-danger">
            Delete
          </a>
        </div>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
