<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <% if ( success_msg.length ) { %>
        <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
      <% if ( error_msg.length ) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <h3 class="text-center my-2 text-success">CATEGORY LIST</h3>
      <table>
        <tbody></tbody>
      </table>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(function(category, index) { %>
          <tr>
            <td><%= index %></td>
            <td><%= category.name %></td>
            <td><%= category.createdAt %></td>
            <td>
              <button class="btn btn-primary">
                Detail
              </button>
              <button class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
